/*
Author: Ally Hammond
Date: 2/8/24
File Name: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1, div, img, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background: #afe7ed;
}

 header img {
    max-width: 100%;
    display: block;
}

/*Style rules for moblie veiwport*/

/*Style rules for header*/

header {
    position: sticky;
    top: 0;
    color: #fff;
   width: 30%;
    margin: auto;
    background-color: #afe7ed;
}

/*Style rules for navigation area*/

nav {
    padding: 1%;
    margin-bottom: 1%;

}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    font-size: 1.5em;
    font-family: "Lato", sans-serif;
    border-top: 1px solid #fff;

}

nav li a {
    display: block;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* show moblie class, hid tablet-desktop class*/

.moblie {
    display: block;
}

.tablet-desktop {
    display: none;
}

/*Styles rules for main content*/

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: "Roboto Slab", serif;
}

main p {
    font-size: 1em;
}

.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}

.map {
    border: 10px solid #000;
    width: 95%;
}

.round {
    border-radius: 8px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*Style rules for footer content*/

footer {
    text-align: center;
    font-size: 0.85em;
    background-color: #5faab3;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
    padding-right: 0;
}

footer p {
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

/*Media Query for Tablet Viewprot*/
@media screen and (min-width:630px),{
   
/*Tablet Viewport: Show tablet-desktop class, hid moblie class*/
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
  /* Tablet Viewport: Style rule for header*/
    header {
        position: static;
        padding-bottom: 2%;
    }

    /*Tablet Viewport: Style rules foor nav area*/
    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }
    

    nav li a {
        padding: 0.1em 0.75em;
    }

   

    /* Tablet Viewprot: Style rules for main content area*/
    main ul {
        margin: 0 0 4% 10%;
    }


}
/* Media Query for Desktop Viewport*/
@media screen and (min-width: 1015px),
print {

    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
        }

      /*Desktop Viewport: Style rules for nav area*/
        nav {
            float: right;
            width: 70%;
    }

    nav ul {
        text-align: right;
    }


    /* Desktop Viewport: Style rules for main content*/
    main {
        clear: left;
    }

    main h1 {
        font-size: 1.8em;
    }
    
   a:hover {
  color:#34a8eb;

}