/*
Author: Ally Hammond
Date: 2/8/24
File Name: styles.css
*/

/*CSS Reset*/
body, header, nav, main, footer, h1, div, img, ul{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
    background: #afe7ed;
}
img {
    max-width: 100;
    display: block; 
    align-content: center;
}

/*Style rules for moblie veiwport*/

/*Style rules for header*/
header {
    position:webkit-sticky;
    position: sticky;
    top: 0;
    height: 190px;
    color: #fff;
    text-align: center;
    background-color: #afe7ed;
}

/*Style rules for navigation area*/
nav {
    padding: 1%;
    margin-bottom: 1%;
    
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav li {
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  border-top: 1px solid #fff;
  
}

nav li a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
  text-decoration: none;
}

}
/* show moblie class, hid tablet-desktop class*/
.moblie {
    display: block;
}

.tablet-desktop {
    display: none;
}

/*Styles rules for main content*/
main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
    font-family: "Roboto Slab", serif;
}
main p{
    font-size: 1em;
}
.link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}
.tel-link {
    background-color: #404040;
    padding: 2%;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

.tel-link a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
}
.map {
    border: 10px solid #000;
}
.round {
    border-radius: 8px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}
/*Style rules for footer content*/
footer{
     text-align: center;
    font-size: 0.85em;
    background-color: #5faab3;
    color: #fff;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
    padding-right: 0;
}
footer p {
    font-size: 1em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

